<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Alarmas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-loading *ngIf="alarms.length==0"></app-loading>
  <ion-list>
    <!--<ion-list-header> Audio </ion-list-header>-->

    <ion-item *ngFor="let alarm of alarms">      
     <app-alarm-card  [alarm]="alarm" (onAlarmActivationClick)="confirmAlarmActivation(alarm.id)"></app-alarm-card>
    </ion-item>
  </ion-list>

</ion-content>
